<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Características requeridas para Wear OS -->
    <uses-feature android:name="android.hardware.type.watch" />
    
    <!-- Permisos básicos -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault"
        tools:targetApi="30">
        
        <!-- Metadata para aplicación independiente de Wear OS -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />
        
        <!-- Activity principal con filtros de intención -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <!-- Filtro adicional para Wear OS -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
            
        </activity>
        
    </application>

</manifest>